<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center border border-2 border-black p-4 rounded">
        <h3 class=" text-center mb-4">Welcome to Servicify</h3>
        <div class="mx-auto" style="width: 300px;">
            <div class="mb-3">
                <label for="customerId" class="text-start form-label" style="margin-right: 80%;">User Id</label><br>
                <input type="number" class="form-control" name="customerId" id="customerId"
                    [(ngModel)] = "loginData.customerId">
            </div>
            <div class="mb-3">
                <label for="" class="text-start form-label" style="margin-right: 80%;">Password</label><br>
                <input type="password" class="form-control" name="email" id="password"
                    [(ngModel)] = "loginData.password">
            </div>
        </div>
        <div class="d-flex justify-content-center gap-3" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="redirect()">Register</button>
            <button type="button" class="btn btn-primary" (click)="validate()">Login</button>
        </div>
    </div>
</div>
