<div>
    
    <!-- <button (click)="goTo('services')" class="btn btn-primary">Services</button>
    <button (click)="goTo('update')" class="btn btn-primary">Update</button>
    <button (click)="goTo('delete')" class="btn btn-primary">Delete</button>
    <button (click)="goTo('search')" class="btn btn-primary">Search</button>
    <button (click)="goTo('profile')" class="btn btn-primary">Profile</button>
    <button (click)="goTo('logout')" class="btn btn-primary">Logout</button> -->

    <h1 class="text-center mt-5">Welcome to Servicify</h1>
    
</div>
